@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 30%;
    margin: 8% auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 10px;
    gap: 10px;
}

.container input{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: none;
    padding: 5px 10px;
}

.container button{
    margin-top: 10px;
    padding: 10px 10px;
    width: 100%;
    cursor: pointer;
    background: #202020;
    border: 1px solid #202020;
    color: white;
    font-size: 17px;
    transition: .5s;
    border-radius: 5px;
}

.container button:hover{
    background: #313131;
}

form{
    margin-top: 10px;
}

h3{
    padding-bottom: 7px;
    border-bottom: 2px solid #202020;
}